<div class="move-card advantage-card">
    <div class="advantage-info item-name" data-item-id="{{_id}}">
        <a class="move-roll" title="Click to Roll Move"> <img src="{{img}}" data-edit="img" title="{{name}}"/> {{name}} </a>
        {{#if (gte data.tokens 0)}}
        <span class="advantage-column">Edge: <a class="token-add"><i class="far fa-plus-square"></i></a> {{data.tokens}} 
        {{#if (gte data.tokens 1)}}
        <a class="token-spend" title="Spend Edge"><i class="far fa-minus-square"></i></a>
        {{/if}}
        </span>
        {{/if}}
 <a class="item-control item-show"><i class="far fa-comment-alt"></i></a><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a><a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>    </div>
</div>
